.dark {
  /* COLOR */
  --background-border-active: rgb(249, 175, 78);
  --background-border-default: rgb(244, 162, 55);
  --background-border-error: rgb(238, 83, 65);
  --background-border-high-emphasis: rgb(247, 247, 248);
  --background-border-highlight: rgb(26, 216, 215);
  --background-border-info: rgb(155, 120, 214);
  --background-border-low-emphasis: rgb(109, 133, 143);
  --background-border-medium-emphasis: rgb(165, 186, 194);
  --background-border-on-colored-bg: rgb(63, 86, 96);
  --background-border-success: rgb(108, 224, 75);
  --background-border-warning: rgb(255, 207, 0);
  --background-button-destructive-active: rgb(233, 66, 47);
  --background-button-destructive-default: rgb(238, 83, 65);
  --background-button-destructive-hover: rgb(249, 104, 87);
  --background-button-destructive-text-hover: rgb(255, 123, 107);
  --background-button-disable-active: rgb(109, 133, 143);
  --background-button-disable-default: rgb(63, 86, 96);
  --background-button-disable-hover: rgb(165, 186, 194);
  --background-button-primary-active: rgb(249, 175, 78);
  --background-button-primary-default: rgb(244, 162, 55);
  --background-button-primary-hover: rgb(255, 206, 141);
  --background-component-active: rgba(255, 206, 141, 0.4);
  --background-component-error: rgba(255, 123, 107, 0.4);
  --background-component-high-emphasis: rgba(63, 86, 96, 0.4);
  --background-component-highlight: rgba(47, 240, 239, 0.4);
  --background-component-info: rgba(189, 160, 240, 0.4);
  --background-component-low-emphasis: rgba(219, 232, 238, 0.4);
  --background-component-medium-emphasis: rgba(165, 186, 194, 0.4);
  --background-component-success: rgba(143, 245, 114, 0.4);
  --background-component-warning: rgba(255, 207, 0, 0.4);
  --global-app-orange-base: rgb(244, 162, 55);
  --global-app-orange-dark: rgb(240, 143, 16);
  --global-app-orange-light: rgb(249, 175, 78);
  --global-app-orange-lighter: rgb(255, 206, 141);
  --global-app-orange-transparent: rgba(255, 206, 141, 0.4);
  --global-black: rgb(12, 24, 29);
  --global-black: rgb(12, 24, 29);
  --global-cyan-base: rgb(26, 216, 215);
  --global-cyan-dark: rgb(7, 200, 199);
  --global-cyan-light: rgb(36, 229, 228);
  --global-cyan-lighter: rgb(47, 240, 239);
  --global-cyan-transparent: rgba(47, 240, 239, 0.4);
  --global-green-base: rgb(108, 224, 75);
  --global-green-dark: rgb(84, 217, 46);
  --global-green-light: rgb(120, 232, 88);
  --global-green-lighter: rgb(143, 245, 114);
  --global-green-transparent: rgba(143, 245, 114, 0.4);
  --global-n-1: rgb(249, 249, 249);
  --global-n-1: rgb(238, 245, 248);
  --global-n-1-transparent: rgba(63, 86, 96, 0.4);
  --global-n-2: rgb(226, 231, 235);
  --global-n-2: rgb(219, 232, 238);
  --global-n-2-transparent: rgba(165, 186, 194, 0.4);
  --global-n-3: rgb(188, 206, 214);
  --global-n-3-transparent: rgba(219, 232, 238, 0.4);
  --global-n-4: rgb(165, 186, 194);
  --global-n-5: rgb(109, 133, 143);
  --global-n-6: rgb(63, 86, 96);
  --global-n-7: rgb(25, 50, 60);
  --global-n-8: rgb(18, 36, 43);
  --global-n-8: rgb(18, 36, 43);
  --global-purple-base: rgb(155, 120, 214);
  --global-purple-dark: rgb(143, 105, 206);
  --global-purple-light: rgb(173, 139, 231);
  --global-purple-lighter: rgb(189, 160, 240);
  --global-purple-transparent: rgba(189, 160, 240, 0.4);
  --global-red-base: rgb(238, 83, 65);
  --global-red-dark: rgb(233, 66, 47);
  --global-red-light: rgb(249, 104, 87);
  --global-red-lighter: rgb(255, 123, 107);
  --global-red-transparent: rgba(255, 123, 107, 0.4);
  --global-white: rgb(253, 253, 253);
  --global-white: rgb(247, 247, 248);
  --global-yellow-base: rgb(255, 207, 0);
  --global-yellow-transparent: rgba(255, 207, 0, 0.4);
  --icon-default: rgb(109, 133, 143);
  --icon-disabled: rgb(63, 86, 96);
  --icon-error: rgb(238, 83, 65);
  --icon-highlight: rgb(26, 216, 215);
  --icon-info: rgb(155, 120, 214);
  --icon-on-colored-bg: rgb(238, 245, 248);
  --icon-selected: rgb(244, 162, 55);
  --icon-success: rgb(108, 224, 75);
  --icon-warning: rgb(255, 207, 0);
  --text-active: rgb(249, 175, 78);
  --text-default: rgb(244, 162, 55);
  --text-error: rgb(238, 83, 65);
  --text-high-emphasis: rgb(247, 247, 248);
  --text-highlight: rgb(26, 216, 215);
  --text-info: rgb(155, 120, 214);
  --text-low-emphasis: rgb(109, 133, 143);
  --text-medium-emphasis: rgb(165, 186, 194);
  --text-on-colored-bg: rgb(253, 253, 253);
  --text-on-colored-bg: rgb(238, 245, 248);
  --text-success: rgb(108, 224, 75);
  --text-warning: rgb(255, 207, 0);
}
