.light {
  /* COLOR */
  --background-border-active: rgb(246, 192, 121);
  --background-border-default: rgb(242, 165, 65);
  --background-border-error: rgb(201, 86, 50);
  --background-border-high-emphasis: rgb(46, 69, 78);
  --background-border-highlight: rgb(30, 212, 193);
  --background-border-info: rgb(108, 70, 232);
  --background-border-low-emphasis: rgb(169, 185, 194);
  --background-border-medium-emphasis: rgb(110, 136, 152);
  --background-border-on-colored-bg: rgb(253, 253, 253);
  --background-border-success: rgb(110, 204, 99);
  --background-border-warning: rgb(252, 202, 70);
  --background-button-destructive-active: rgb(217, 112, 79);
  --background-button-destructive-default: rgb(201, 86, 50);
  --background-button-destructive-hover: rgb(186, 82, 49);
  --background-button-destructive-text-hover: rgb(237, 141, 112);
  --background-button-disable-active: rgb(226, 231, 235);
  --background-button-disable-default: rgb(211, 221, 226);
  --background-button-disable-hover: rgb(169, 185, 194);
  --background-button-primary-active: rgb(246, 192, 121);
  --background-button-primary-default: rgb(242, 165, 65);
  --background-button-primary-hover: rgb(230, 143, 30);
  --background-component-active: rgb(255, 238, 216);
  --background-component-error: rgba(237, 141, 112, 0.4);
  --background-component-high-emphasis: rgba(169, 185, 194, 0.4);
  --background-component-highlight: rgba(67, 240, 222, 0.4);
  --background-component-info: rgba(139, 104, 255, 0.4);
  --background-component-low-emphasis: rgba(226, 231, 235, 0.4);
  --background-component-medium-emphasis: rgba(211, 221, 226, 0.4);
  --background-component-success: rgba(155, 225, 147, 0.4);
  --background-component-warning: rgba(252, 202, 70, 0.4);
  --global-app-orange-base: rgb(242, 165, 65);
  --global-app-orange-dark: rgb(230, 143, 30);
  --global-app-orange-light: rgb(246, 192, 121);
  --global-app-orange-lighter: rgb(255, 217, 167);
  --global-app-orange-transparent: rgba(255, 217, 167, 0.4);
  --global-black: rgb(12, 24, 29);
  --global-cyan-base: rgb(30, 212, 193);
  --global-cyan-dark: rgb(33, 201, 183);
  --global-cyan-light: rgb(56, 224, 207);
  --global-cyan-lighter: rgb(67, 240, 222);
  --global-cyan-transparent: rgba(67, 240, 222, 0.4);
  --global-green-base: rgb(110, 204, 99);
  --global-green-dark: rgb(102, 191, 92);
  --global-green-light: rgb(130, 219, 120);
  --global-green-lighter: rgb(155, 225, 147);
  --global-green-transparent: rgba(155, 225, 147, 0.4);
  --global-n-1: rgb(249, 249, 249);
  --global-n-1-transparent: rgba(169, 185, 194, 0.4);
  --global-n-2: rgb(226, 231, 235);
  --global-n-2-transparent: rgba(211, 221, 226, 0.4);
  --global-n-3: rgb(211, 221, 226);
  --global-n-3-transparent: rgba(226, 231, 235, 0.4);
  --global-n-4: rgb(169, 185, 194);
  --global-n-5: rgb(110, 136, 152);
  --global-n-6: rgb(46, 69, 78);
  --global-n-7: rgb(25, 50, 60);
  --global-n-8: rgb(18, 36, 43);
  --global-purple-base: rgb(108, 70, 232);
  --global-purple-dark: rgb(98, 64, 210);
  --global-purple-light: rgb(122, 81, 254);
  --global-purple-lighter: rgb(139, 104, 255);
  --global-purple-transparent: rgba(139, 104, 255, 0.4);
  --global-red-base: rgb(201, 86, 50);
  --global-red-dark: rgb(186, 82, 49);
  --global-red-light: rgb(217, 112, 79);
  --global-red-lighter: rgb(237, 141, 112);
  --global-red-transparent: rgba(237, 141, 112, 0.4);
  --global-white: rgb(253, 253, 253);
  --global-yellow-base: rgb(252, 202, 70);
  --global-yellow-transparent: rgba(252, 202, 70, 0.4);
  --icon-default: rgb(110, 136, 152);
  --icon-disabled: rgb(169, 185, 194);
  --icon-error: rgb(201, 86, 50);
  --icon-highlight: rgb(30, 212, 193);
  --icon-info: rgb(108, 70, 232);
  --icon-on-colored-bg: rgb(253, 253, 253);
  --icon-selected: rgb(242, 165, 65);
  --icon-success: rgb(110, 204, 99);
  --icon-warning: rgb(252, 202, 70);
  --text-active: rgb(246, 192, 121);
  --text-default: rgb(242, 165, 65);
  --text-error: rgb(201, 86, 50);
  --text-high-emphasis: rgb(46, 69, 78);
  --text-highlight: rgb(30, 212, 193);
  --text-info: rgb(108, 70, 232);
  --text-low-emphasis: rgb(169, 185, 194);
  --text-medium-emphasis: rgb(110, 136, 152);
  --text-on-colored-bg: rgb(253, 253, 253);
  --text-success: rgb(110, 204, 99);
  --text-warning: rgb(201, 86, 50);
}
