.primary {
  background-color: var(--background-button-primary-default);
  color: var(--text-on-colored-bg);
  padding: 8px 16px;
}

.alert {
  background-color: var(--background-button-primary-default);
  color: var(--text-on-colored-bg);
  padding: 8px 16px;
}
