:root {
  /* COLOR */
  --backgroundBorderActive: rgb(246, 192, 121);
  --backgroundBorderDefault: rgb(242, 165, 65);
  --backgroundBorderError: rgb(201, 86, 50);
  --backgroundBorderHighEmphasis: rgb(46, 69, 78);
  --backgroundBorderHighlight: rgb(30, 212, 193);
  --backgroundBorderInfo: rgb(108, 70, 232);
  --backgroundBorderLowEmphasis: rgb(169, 185, 194);
  --backgroundBorderMediumEmphasis: rgb(110, 136, 152);
  --backgroundBorderOnColoredBg: rgb(253, 253, 253);
  --backgroundBorderSuccess: rgb(110, 204, 99);
  --backgroundBorderWarning: rgb(252, 202, 70);
  --backgroundButtonDestructiveActive: rgb(217, 112, 79);
  --backgroundButtonDestructiveDefault: rgb(201, 86, 50);
  --backgroundButtonDestructiveHover: rgb(186, 82, 49);
  --backgroundButtonDestructiveTextHover: rgb(237, 141, 112);
  --backgroundButtonDisableActive: rgb(226, 231, 235);
  --backgroundButtonDisableDefault: rgb(211, 221, 226);
  --backgroundButtonDisableHover: rgb(169, 185, 194);
  --backgroundButtonPrimaryActive: rgb(246, 192, 121);
  --backgroundButtonPrimaryDefault: rgb(242, 165, 65);
  --backgroundButtonPrimaryHover: rgb(230, 143, 30);
  --backgroundComponentActive: rgb(255, 238, 216);
  --backgroundComponentError: rgba(237, 141, 112, 0.4);
  --backgroundComponentHighEmphasis: rgba(169, 185, 194, 0.4);
  --backgroundComponentHighlight: rgba(67, 240, 222, 0.4);
  --backgroundComponentInfo: rgba(139, 104, 255, 0.4);
  --backgroundComponentLowEmphasis: rgba(226, 231, 235, 0.4);
  --backgroundComponentMediumEmphasis: rgba(211, 221, 226, 0.4);
  --backgroundComponentSuccess: rgba(155, 225, 147, 0.4);
  --backgroundComponentWarning: rgba(252, 202, 70, 0.4);
  --globalAppOrangeBase: rgb(242, 165, 65);
  --globalAppOrangeDark: rgb(230, 143, 30);
  --globalAppOrangeLight: rgb(246, 192, 121);
  --globalAppOrangeLighter: rgb(255, 217, 167);
  --globalAppOrangeTransparent: rgba(255, 217, 167, 0.4);
  --globalBlack: rgb(12, 24, 29);
  --globalCyanBase: rgb(30, 212, 193);
  --globalCyanDark: rgb(33, 201, 183);
  --globalCyanLight: rgb(56, 224, 207);
  --globalCyanLighter: rgb(67, 240, 222);
  --globalCyanTransparent: rgba(67, 240, 222, 0.4);
  --globalGreenBase: rgb(110, 204, 99);
  --globalGreenDark: rgb(102, 191, 92);
  --globalGreenLight: rgb(130, 219, 120);
  --globalGreenLighter: rgb(155, 225, 147);
  --globalGreenTransparent: rgba(155, 225, 147, 0.4);
  --globalN1: rgb(249, 249, 249);
  --globalN1Transparent: rgba(169, 185, 194, 0.4);
  --globalN2: rgb(226, 231, 235);
  --globalN2Transparent: rgba(211, 221, 226, 0.4);
  --globalN3: rgb(211, 221, 226);
  --globalN3Transparent: rgba(226, 231, 235, 0.4);
  --globalN4: rgb(169, 185, 194);
  --globalN5: rgb(110, 136, 152);
  --globalN6: rgb(46, 69, 78);
  --globalN7: rgb(25, 50, 60);
  --globalN8: rgb(18, 36, 43);
  --globalPurpleBase: rgb(108, 70, 232);
  --globalPurpleDark: rgb(98, 64, 210);
  --globalPurpleLight: rgb(122, 81, 254);
  --globalPurpleLighter: rgb(139, 104, 255);
  --globalPurpleTransparent: rgba(139, 104, 255, 0.4);
  --globalRedBase: rgb(201, 86, 50);
  --globalRedDark: rgb(186, 82, 49);
  --globalRedLight: rgb(217, 112, 79);
  --globalRedLighter: rgb(237, 141, 112);
  --globalRedTransparent: rgba(237, 141, 112, 0.4);
  --globalWhite: rgb(253, 253, 253);
  --globalYellowBase: rgb(252, 202, 70);
  --globalYellowTransparent: rgba(252, 202, 70, 0.4);
  --iconDefault: rgb(110, 136, 152);
  --iconDisabled: rgb(169, 185, 194);
  --iconError: rgb(201, 86, 50);
  --iconHighlight: rgb(30, 212, 193);
  --iconInfo: rgb(108, 70, 232);
  --iconOnColoredBg: rgb(253, 253, 253);
  --iconSelected: rgb(242, 165, 65);
  --iconSuccess: rgb(110, 204, 99);
  --iconWarning: rgb(252, 202, 70);
  --textActive: rgb(246, 192, 121);
  --textDefault: rgb(242, 165, 65);
  --textError: rgb(201, 86, 50);
  --textHighEmphasis: rgb(46, 69, 78);
  --textHighlight: rgb(30, 212, 193);
  --textInfo: rgb(108, 70, 232);
  --textLowEmphasis: rgb(169, 185, 194);
  --textMediumEmphasis: rgb(110, 136, 152);
  --textOnColoredBg: rgb(253, 253, 253);
  --textSuccess: rgb(110, 204, 99);
  --textWarning: rgb(201, 86, 50);
}
