:root {
  /* COLOR */
  --fuschia100: rgb(239, 93, 168);
  --fuschia60: rgb(252, 221, 236);
  --fuschia80: rgb(241, 120, 182);
  --iris100: rgb(93, 95, 239);
  --iris60: rgb(165, 166, 246);
  --iris80: rgb(120, 121, 241);
}
